.vacation-appln-container {
  /* padding: 10px 0px; */
  /* margin: 2% 9%; */
}

.vacation-appln-button-container {
  margin: auto;
  margin-top: 20px;
  /* margin-bottom: 10px; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 50px;
  transition: all 0.3s ease;
}

.vacation-appln-wrap {
  width: 100%;
  height: 50px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.vacation-appln-button {
  width: 100%;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  transition: all 0.2s ease-in-out;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.vacation-appln-button-container:hover {
  width: 350px;

  .vacation-details-wrap {
    padding-bottom: 17px;
  }

  .vacation-appln-button {
    transform: translateY(-8px);
    padding-top: 5px;
  }
}

.form-style-1 {
  margin: 8%;
  /* max-width: 90%; */
  text-align: center;
  /* padding: 20px 12px 10px 20px; */
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="datetime"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="search"]:focus,
.form-style-1 input[type="time"]:focus,
.form-style-1 input[type="url"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}
.form-style-1 .field-select {
  width: 100%;
}
.form-style-1 .field-textarea {
  height: 100px;
}
.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style-1 .required {
  color: red;
}
.vacation-type-container {
  -webkit-box-shadow: 0px 1px 9px 2px #000000;
  box-shadow: 0px 1px 9px 2px #000000;
  padding: 5%;
}
.date-container {
  -webkit-box-shadow: 0px 1px 9px 2px #000000;
  box-shadow: 0px 1px 9px 2px #000000;
  padding: 5% 3%;
}
.field-select {
  max-width: 60%;
  /* margin: 0% 10%; */
}
.title {
  margin-bottom: 5%;
  text-align: center;
  color: #2196f3 !important;
  font-size: 20px;
}
.label {
  color: #aaa;
  text-align: center;
}
.form-buttons {
  margin-top: 20px;
  text-align: center;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}
.button2 {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
} /* Red */
.modal-dialog {
  position: absolute;
  width: 30%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background-color: white;
}
